.view-contanier{
   display: flex;
   justify-content: center;
   align-items: center;
   background: yellow;
   margin-top: 50px;
}
img{
    width: 200px;
    height: 300px;
}
.info{
    margin: 20px;
}
h4 a{
    background: orangered;
    margin-top: 10px;
    margin-right: 25px;
    border: 0;
    padding: 5px;
    border-radius: 10px;
    color: white;
    width: 190px;
    cursor: pointer;
    transition: .3s;
}
h4 a:hover{
    box-shadow: 5px 5px 10px #555;
    transform: scale(1.1)

} 

.img-view{
    background-color: red;
    height: 500px;
    width: 500px;
}